* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.nav-header {
    background-color: #faae2b;
    padding: 10px 20px;
}

.nav-navbar {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;
    transition: color 0.3s;
    transition: border 0.3s;
    border: black 2px solid;
    padding: 10px;
}

.nav-links a:hover {
    color: #fff;
    border: white 2px solid;
}

.nav-links a#home {
    border-radius: 5px 0px 0px 5px;
}

.nav-links a#contact {
    border-radius: 0px 5px 5px 0px;
}

.logo {
    cursor: default;
    margin-left: 3%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.title {
    text-align: center;
    margin-top: 8%;
    font-size: 3rem;
}

.subtitle {
    text-align: center;
    margin-top: 5%;
    font-size: 1.3rem;
    color: gray;
}
