* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.nav-header {
    background-color: #faae2b;
    padding: 10px 20px;
    border-bottom: #333 2px solid;
}

.nav-navbar {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav-links {
    margin-right: 2%;
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
    transition: color 0.3s;
    transition: border 0.3s;
    border: white 2px solid;
    padding: 10px;
    text-align: center;
}

.nav-links a:hover {
    color: black;
    border: black 2px solid;
}

.nav-links a#home {
    border-radius: 7px 0px 0px 7px;
}

.nav-links a#contact {
    border-radius: 0px 7px 7px 0px;
}

.logo {
    cursor: default;
    margin-left: 3%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.title {
    text-align: center;
    margin-top: 8%;
    cursor: default;
    font-size: 3rem;
}

.subtitle {
    text-align: center;
    margin-top: 5%;
    font-size: 1.3rem;
    cursor: default;
    color: gray;
}

.main-section {
    display: flex;
    gap: 36px;
    padding-top: 10%;
    justify-content: center;
}

.image {
    height: 360px;
    width: 360px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: #333 2px solid;
}

.image-1 {
    background-image: url(https://picsum.photos/200);
}

.form {
    background-color: antiquewhite;
    width: 30%;
    border-radius: 25px;
    padding-top: 50px;
    padding-left: 40px;
    border: #333 2px solid;
}

.form-inputs {
    margin-top: 15%;
}
